{% import re %}
{% import time %}
{% import json %}
{% from cms import LANGUAGE_NAMES, LANGUAGE_TO_SOURCE_EXT_MAP, config %}
{% from cms.server import format_amount_of_time, format_time, format_datetime, format_datetime_smart, get_score_class, encode_for_url %}
{% from cms.db import Session, Contest %}
{% from cms.grading import COMPILATION_MESSAGES, EVALUATION_MESSAGES %}
{% from cmscommon.datetime import make_timestamp, utc %}
{% from cmscommon.isocodes import translate_language_country_code %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Site Properties -->
        <script type="text/javascript" src="{{ url_root }}/static/js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="{{ url_root }}/static/js/semantic.min.js"></script>
        <script type="text/javascript" src="{{ url_root }}/static/cws_utils.js"></script>
        <script type="text/javascript" src="{{ url_root }}/static/js/application.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/css/style.css">
        <title>{{ contest.description }}</title>
        {% if current_user is not None %}
        <script type="text/javascript">
            // FIXME use Date objects
            var utils = new CMS.CWSUtils("{{ url_root }}",
            {{ make_timestamp(timestamp) }},
            {% comment What we do is: if timezone is +HH:MM we return the UNIX timestamp + 3600*HH + 60*MM. %}
            {{ make_timestamp(timestamp.replace(tzinfo=utc).astimezone(timezone).replace(tzinfo=None)) }},
            {{ make_timestamp(current_phase_begin) }},
            {{ make_timestamp(current_phase_end) }},
            {{ actual_phase }});

            $(document).ready(function () {
                utils.update_time();
                setInterval(function() { utils.update_time(); }, 1000);
                utils.update_notifications();
                setInterval(function() { utils.update_notifications(); }, 15000);
            });
            {% block js %}{% end %}
        </script>
        {% end%}
</head>

{% if current_user is not None %}
<body>
    <div class="ui blue inverted menu">
        <div class="ui container">
            <a href="{{ url_root }}/" class="header item">
                <i class="large terminal icon"></i>
                {{ _("CSCMU Grader") }} | {{ contest.name }}
            </a>
            <div class="ui simple dropdown item">
                Course <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">{{ _("Course") }}</div>
                    {% set sql_session = Session() %}
                    {% set accessible_contest = current_user.accessible_contest.split(",") %}
                    {% set contests_list = sorted(sql_session.query(Contest).all(), key=lambda c: c.id) %}
                    {% for i, c in enumerate(contests_list) %}
                        {% if current_user.accessible_contest == "" or str(c.id) in accessible_contest %}
                            <a href="{{ url_root }}/contest/{{c.id}}" class="item">{{ c.name }}</a>
                        {% end %}
                    {% end %}
                </div>
            </div>
            <a href="{{ url_root }}/" class="{% if request.path == '/' %}active {% end %}item">{{ _("Overview") }}</a>
            {% if actual_phase == 0 %}
            <a href="{{ url_root }}/testing" class="{% if request.path == '/testing' %}active {% end %}item">{{ _("Testing") }}</a>
            {% end %}

            <div class="right menu">
                <a href="#" class="item">
                    <i class="wait icon"></i> <span id="server_time">{{ _("Loading") }}</span>
                </a>
                <div class="ui simple dropdown item">
                {% if current_user.first_name == "" and current_user.last_name == "" %}
                    {{ current_user.username }}
                {% else %}
                    {{ current_user.first_name }} {{ current_user.last_name }}
                {% end %}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">{{ current_user.username }}</div>
                        {% if config.allow_change_password %}
                        <a class="item" href="{{ url_root }}/change_password">{{ _("Change Password") }}</a>
                        {% end %}
                        <a class="item" href="{{ url_root }}/logout">{{ _("Logout") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui main container">
        <div id="notifications" class="notifications"></div>
        <!-- Some hidden divs to provide translations of strings used by JS -->
        <div style="display: none" id="translation_new_message">
            {{ _("New message") }}
        </div>
        <div style="display: none" id="translation_new_announcement">
            {{ _("New announcement") }}
        </div>
        <div style="display: none" id="translation_new_answer">
            {{ _("New answer") }}
        </div>
        <div style="display: none" id="translation_unread">
            {{ _("%d unread") }}
        </div>
        <div style="display: none" id="translation_until_contest_starts">
            {{ _("Until contest starts:") }}
        </div>
        <div style="display: none" id="translation_until_contest_ends">
            {{ _("Until contest ends:") }}
        </div>
        <div style="display: none" id="translation_time_left">
            {{ _("Time left:") }}
        </div>
        <!-- End -->
        {% block core %}{% end %}
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted link list">
                <a class="item" href="http://www.cs.science.cmu.ac.th/" target="_blank">{{ _("CSCMU Website") }}</a>
                <a class="item" href="http://www.cs.science.cmu.ac.th/index.php?name=course" target="_blank">{{ _("Course Website") }}</a>
            </div>
            <p>{{ _("Copyright &copy; 2016 Department of Computer Science, Chiang Mai Universiry") }}</p>
        </div>
    </div>
    {% block footer %}{% end %}
</body>
{% else %}
<body id="login">
    {% if handler.get_argument("login_error", "") != "" %}
    <div id="notifications" class="notifications">
        <div class="ui negative message notification">
            <i class="close icon"></i>
            <div class="header">{{ _("Failed to log in.") }}</div>
        </div>
    </div>
    {% end %}

    {% include login.html %}
</body>
{% end %}
</html>