{% extends base.html %}
{% block core %}

<h1 class="ui header">
    <i class="lock icon"></i>
    <div class="content">
        {{ _("Change Password") }}
    </div>
</h1>

<form class="ui form" method="POST">
    <div class="field">
        <label>{{ _("Current Password") }}</label>
        <input type="text" name="current_password">
    </div>
    <div class="field">
        <label>{{ _("New Password") }}</label>
        <input type="password" name="new_password">
    </div>
    <div class="field">
        <label>{{ _("Confirm Password") }}</label>
        <input type="password" name="confirm_password">
    </div>
    <button class="ui blue button" type="submit">{{ _("Change") }}</button>
    <button class="ui red button" type="reset">{{ _("Reset") }}</button>
</form>

{% end %}