{% extends base.html %}
{% block core %}

<h1 class="ui header">
    <i class="warning sign icon"></i>
    <div class="content">
        {{ _("Error") }}
        <div class="sub header">{{ status_code }}</div>
    </div>
</h1>

<p>{{ _("An error occured while the server was handling your request.") }}</p>

<p>{{ _("Note that attempts to tamper with Contest Management System (such as probing the server with customized URLs) may be considered cheating and may lead to disqualification.") }}</p>

<p>{{ _("If you encountered this error during normal usage, please notify the contest administrators.") }}</p>

{% end %}