{% extends base.html %}
{% block core %}

{% from cms.server import format_token_rules, format_size %}
{% from cms.grading.tasktypes import get_task_type %}
{% import json %}

{% if actual_phase == 0 %}

<h1 class="ui header">
    <i class="code icon"></i>
    <div class="content">
        {{ task.title }}
        <div class="sub header">{{ task.name }}</div>
    </div>
</h1>

<div class="ui grid">
<div class="eight wide column">

<h2 class="ui top attached header">{{ _("Task Details") }}</h2>

<div class="ui attached segment">
<table class="ui celled unstackable table">
    <tbody>
        <tr>
            <td><strong>{{ _("Type") }}</strong></td>
            <td>{% set task_type = get_task_type(dataset=task.active_dataset) %}{{ task_type.name }}</td>
        </tr>
{% if task.active_dataset.time_limit is not None %}
        <tr>
            <td><strong>{{ _("Time limit") }}</strong></td>
            <td>
    {% if task.active_dataset.time_limit == 1.0 %}
        {{ _("%(seconds)g second") % {"seconds": task.active_dataset.time_limit} }}
    {% else %}
        {{ _("%(seconds)g seconds") % {"seconds": task.active_dataset.time_limit} }}
    {% end %}
            </td>
        </tr>
{% end %}
{% if task.active_dataset.memory_limit is not None %}
        <tr>
            <td><strong>{{ _("Memory limit") }}</strong></td>
            <td>{{ _("%(mb)d MiB") % {"mb": task.active_dataset.memory_limit} }}</td>
        </tr>
{% end %}

{% if tokens_contest != 0 and tokens_tasks != 0 %}
<tr>
    <td><strong>{{ _("Tokens") }}</strong></td>
    <td colspan="2" class="token_rules">
    {% if tokens_contest == 2 and tokens_tasks == 2 %}
        <p>
        {{ _("You have an infinite number of tokens.") }}
        </p>
    {% elif tokens_contest == 2 %}
        <p>
        {% set tokens = {k[6:]: v for k, v in task.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, locale=locale) }}
        </p>
    {% elif tokens_tasks == 2 %}
        <p>
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"type_pl": _("tokens"), "url_root": url_root} %}
        </p>
    {% else %}
        <p>
        {% set tokens = {k[6:]: v for k, v in task.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, t_type="task", locale=locale) }}
        </p>

        <p>
        {{ _("Remeber that to see the detailed result of a submission you need to use both a contest-token and a task-token.") }}
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"type_pl": _("contest-tokens"), "url_root": url_root} %}
        </p>
    {% end %}
    </td>
</tr>
{% end %}
    </tbody>
</table>
</div>

<h2 class="ui top attached header">{{ _("Submission") }}</h2>
<div class="ui attached segment">
    <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submissions" class="ui blue button"><i class="upload icon"></i> {{ _("Submit your code") }}</a>
</div>

</div>

<div class="eight wide column">
<h2 class="ui top attached header">{{ _("Statement") }}</h2>

{% if len(task.statements) == 0 %}
<div class="ui attached segment">
    <p>{{ _("No statement available") }}</p>
</div>
{% elif len(task.statements) == 1 %}
<div class="ui attached segment statement one_statement">
    {% for lang_code in task.statements %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(lang_code) }}" class="ui green button"><i class="download icon"></i> {{ _("Download task statement") }}</a>
    {% end %}
</div>
{% else %}
<div class="ui attached segment statement many_statements">
    <div class="main_statements">
        <p>
            {{ _("The statement for this task is available in multiple versions, in different languages.") }}
            {{ _("You can see (and download) all of them using the list on the right.") }}
            {{ _("Some suggested translations follow.") }}
        </p>
    {% set task_primary = json.loads(task.primary_statements) %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in task_primary %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}" class="ui green button">
            {% if statement.language != statement.language_name %}
                {% if statement.language == "" %}
                    {{ _("Download task statement") }}
                {% else %}
                    {% raw _("Statement in <strong>%s</strong>") % escape(statement.language_name) %}
                {% end %}
                
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    {% set user_primary = json.loads(current_user.primary_statements).get(task.name, []) %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in user_primary and statement.language not in task_primary %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}" class="ui green button">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <strong>%s</strong>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    </div>
    <div class="all_statements">
        <div class="ui list">
{% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
            <div class="item">
                <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}">
    {% if statement.language != statement.language_name %}
        {% raw _("<strong>%s</strong>") % escape(statement.language_name) %}
    {% else %}
        {% raw _("%s") % escape(statement.language_name) %}
    {% end %}
                </a>
            </div>
{% end %}
        </div>
    </div>
</div>
{% end %}

{% if task.attachments != {} %}
    <h2 class="ui top attached header">{{ _("Attachments") }}</h2>
    <div id="attachments" class="ui attached segment">
        <div class="ui middle aligned divided very relaxed list">
    {% from cmscommon import mimetypes %}
    {% for filename, attachment in sorted(task.attachments.items()) %}
        {% set mime_type = mimetypes.get_type_for_file_name(filename) %}
        {% if mime_type is not None %}
            {% set type_name = mimetypes.get_name_for_type(mime_type) %}
            {% set type_icon = mimetypes.get_icon_for_type(mime_type) %}
        {% else %}
            {% set type_name = None %}
            {% set type_icon = None %}
        {% end %}
        {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
            <div class="item">
                <div class="right floated content">
                    <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/attachments/{{ encode_for_url(filename) }}" class="ui green button">
                    <i class="download icon"></i>
                    <span class="type">{{ _(type_name) }}</span>
                    <span class="size">{{ format_size(file_size) }}</span>
                  </a>
                </div>
                <div class="content">
                    <span class="name">{{ filename }}</span>
                </div>
            </div>
    {% end %}
        </div>
    </div>
{% end %}
</div>

</div>

{% end %}

{% end %}
